<%- layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3 mb-4">Upload your Bills On MediWallet</h1>
    <div class="col-6 offset-3">
        <form method="post" action="/app/bill" class="needs-validation" novalidate enctype="multipart/form-data">

            <!-- Upload Bill -->
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload Bill</label>
                <input class="form-control" type="file"  name="file" accept="image/*,.pdf" required>
                <div class="invalid-feedback">Please upload a bill file!</div>
            </div>

            <!-- Category Selection -->
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="category" class="form-control" required>
                    <option value="">Select a category</option>
                    <option value="Consultation">Consultation</option>
                    <option value="Surgery">Surgery</option>
                    <option value="Medicine">Medicine</option>
                    <option value="Tests">Tests</option>
                </select>
                <div class="invalid-feedback">Please select a category!</div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" placeholder="Add Description" class="form-control" required></textarea>
                <div class="invalid-feedback">Provide a short description!</div>
            </div>

            <!-- Amount -->
            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" name="amount" placeholder="Enter amount" class="form-control" required>
                <div class="invalid-feedback">Enter a valid amount!</div>
            </div>

            <button class="btn btn-success mb-5">Upload</button>
        </form>
    </div>
</div>
