

<nav class="navbar navbar-expand-md border-bottom sticky-top mb-4">
    <div class="container-fluid d-flex">
        <span class="navbar-brand mb-0 h1"><a href="/app" style="text-decoration: none; color:black;">Mediwallet <i class="fa-solid fa-leaf" style="color: #065c05;font-size:2.5rem"></i></a></span>
    
    <div class="d-flex">
        <a class="nav-link mt-3 m-3" href="app/analysis">AI Analysis</a>
        <a class="nav-link mt-3 m-3" href="/app/appointment">Appointment</a>
    </div>
</div>
</nav>